{%extends 'locations/base.html'%}
{% block content %} 
{{ block.super}}

<div class="head bg-warning">
  <p class='text-center galleria'>Pixels</p>

</div>

<!-- script tags come in here -->
<script>
function copylink(value) {
  function handler(event){
      event.clipboardData.setData('text/plain', value);
      event.preventDefault();
      document.removeEventListener('copy', handler, true);
  }
  document.addEventListener('copy', handler, true);
  document.execCommand('copy');
}
</script>
<!-- and ends here -->
<style>
  body{
  color: black;
  font-family:'Kaushan Script';

}

/* *{
  box-sizing: border-box;
} */

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.head{
  background-image: url('https://i.pinimg.com/originals/3b/75/7b/3b757bce746fac265dc8772f6576d3a3.gif');
  background-repeat: no-repeat;
  background-size:  cover;
  color: white;
  font-size: 3.9em;
  font-family: 'Cookie' ,cursive;
  font-style: italic;

}

.head p{
  background-color: rgba(0,0,0,0.5)
}
.galleria{
  font-size: 4.1em;
  background-color: rgba(0,0,0,0.5);
}



/* media query for text */
@media screen and (max-width: 900px){


  .galleria{
    color: black;
    font-weight: lighter;
    font-size: 70px;

  }

}
.modal-content{
  margin: 20%;
  border: 12%;
}

nav a{
  color:black;
}
</style>

  <div class="container-fluid">
    
    <div class="row"style="padding:0 4px;">
    {% for pixels_item in pixels %}
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"style="padding:0 4px;flex-wrap: wrap;">
      <img style="width:90%; border-radius:25px " src="{{pixels_item.Pixels_image.url}}" alt="images" data-toggle="modal" data-target="#{{pixels_item.title}}">
    
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"style="padding:0 4px;flex: 25%;">
    
      </div>
    </div>
  </div>

      <div id="{{pixels_item.title}}" class="modal fade bd-example-modal-lg " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-header">
 
              <h3 class="modal-title" id="exampleModalCenterTitle">{{ pixels_item.title }}</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  
              <img style="width:60%;   display: block;
              margin-left: auto;
              margin-right: auto;
              border-radius: 50%;"src="{{pixels_item.Pixels_image.url}}" alt="check"><br>
                  <h4>Time taken</h4><br>
                  <p>{{pixels_item.pub_date}}</p><br>
                <hr>
                <h4>Image Description</h4><br>
                <p>{{pixels_item.post}}</p><br>
                <hr> 
                <h4>Location</h4><br>
                <p>Snapped in {{pixels_item.Location}}</p><br>
                <hr>
                <input type="text" name="" value="" placeholder="{{pixels_item.Pixels_image.url}}" class="text-muted">
                <button type="button" name="button" class="btn btn-primary btn-lg" value="{{pixels_item.Pixels_image.url}}" onclick="copylink(this.value)">Copy Image Link</button>
                <img style="height:200px; width:200px;" src="https://i.pinimg.com/originals/f3/41/da/f341dae99469234d6d6a835ea678a864.gif" alt="check"><br>
              </div><br><br>
            </div>
          </div>
          </div>
        </div>
        </div>
      </div>
   
      
  {%empty%}
  <div class="row">
    <div class="col-md-12 nuttnhere">
      <h1>Nothing here yet! Give us a while...</h1>
    </div>

  </div>
  {%  endfor %}
  </div>
  </div>
  {%endblock%}