{%extends 'locations/base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">

  <!-- Looping through news   -->
 
  

  {% for pixels_item in pixels %}

  <div class="row">
    <!-- displaying News articles -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2 class="text-center"> {{ pixels_item.category }} </h2>
    </div>

    <!--Display news Article images  -->
    
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        {% if pixels_item.Pixels_image %}
        <img src="{{news_item.Pixels_image.url}}" class="img-responsive" alt="Image">
        {% endif %}
      </div>
  
    </div>
  </div>
  {% empty %}
  <div class="row">
    <h2 class="text-center">There No News Items</h2>
  </div>
  {% endfor %}

</div>


{% endblock %}