{%extends 'locations/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if pixels%}
      <h2>Found {{ pixels|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 pixels for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if pixels %}
    {% for pixel in pixels %}
      <div class="col-sm-6 col-md-3">
          <h1>{{pixel.title}}</h1>
          
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}