{%extends 'locations/base.html'%}
{% block content %}
<div class="container">

  <div class="row">
    {% if images%}
      <h2>Found {{ images|length }} results in category '{{message}}'</h2>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row_image">


    {% for image in images %}

    <div class="test column_image all_images">
      <img style="width:100%" src="{{image.Pixel_url}}" alt="images" data-toggle="modal" data-target="#{{image.title}}">

      <div id="{{.image.title}}" class="modal fade bd-example-modal-xl p-4" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="">
              <h3 class="text-center">{{image.title}}</h3>
              <img width="100%"src="{{image.Pixel_url}}" alt="check"><br>
              <br><div class="details container">
                <button type="button" class="btn btn-outline-info" name="button">{{image.category}}</button>
                <hr>
                <h4>Image Description</h4>
                <p>{{image.post}}</p>
                <hr>
                <h4>Location</h4>
                <p>Snapped in {{image.Location}}</p>
                <hr>
               
              </div><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}

  </div>
</div>
{% endblock %}